.wb-info-form__text-before-input
  font-weight: bold
  color: rgb(177, 177, 177)
  
.wb-info-form__button
  margin: 0 auto
  width: 80%
  height: 5vh

.wb-info-form__input
  border: none
  background: rgb(84, 77, 84)
  color: rgb(255, 255, 255)

.wb-info-form__row-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: .5em 0

.wb-form
  margin: 0 auto
  width: 75%
  min-width: 15em