mixin signup
  div.signup.signup--text-centered
    p.signup__sign.signup__sign--transparent Записаться
    #signup-ball.signup__ball.signup__ball--circle.signup__ball--background-cyan.signup__ball--transparent
    