//- page.pug
extends layout.pug

append variables
  - 
    //- header1 = 'This is HEADER1'
    //- paragraph1 = 'This is paragraph ONE'
    //- paragraph2 = 'This is paragraph TWO'
    //- interpolated = 'interpolated variable'


append content
  div.rangeslider-4