.wb-info-block__text
  padding: 0.4em

.wb-info-block__image
  display: block
  margin: 0 auto
  width: 50%
  max-height: 100%

.wb-info-block
  width: 100%
  min-height: 20vh
  // background-color: rgb(226, 215, 226)
  background-repeat: repeat
  background-size: contain
  // box-shadow: 5px 5px 10px black