mixin wb-info-block (blockInfoObject)
  .wb-info-block.wb-info-block--bacground-standart(style=`background-image:url(${blockInfoObject.backgroundImageSource})`)
    if blockInfoObject.imageSource
      img.wb-info-block__image(src=blockInfoObject.imageSource)
    if blockInfoObject.text
      p.wb-info-block__text= blockInfoObject.text
    if blockInfoObject.form
      +wb-form( blockInfoObject.form )