mixin wb-info-block (blockInfoObject)
  - 
    var wbInfoBlockClasses = `wb-info-block--vert-centered wb-info-block--background-standart`
    var headerTextStyles = ``
    if ( blockInfoObject.styles ) {
      if ( blockInfoObject.styles.includes('background-blue-strip') ) wbInfoBlockClasses += ` wb-info-block--background-blue-strip`
      if ( blockInfoObject.styles.includes('top-margin') ) wbInfoBlockClasses += ` wb-info-block--top-margin`
      if ( blockInfoObject.styles.includes('plate-in-row') ) wbInfoBlockClasses += ` wb-info-block--plate-in-row`
      if ( blockInfoObject.styles.includes('bold-header-text') ) headerTextStyles += ` wb-info-block__title--bold-text`
      if ( blockInfoObject.styles.includes('red-header-text') ) headerTextStyles += ` wb-info-block__title--red-text`
    }
  .wb-info-block.wb-info-block--flexed-column(class=wbInfoBlockClasses)
    if blockInfoObject.imageSource
      img.wb-info-block__image(src=blockInfoObject.imageSource)
    if blockInfoObject.headerText
      .wb-info-block__title( class=headerTextStyles )= blockInfoObject.headerText
    if blockInfoObject.text
      p.wb-info-block__text= blockInfoObject.text
    if blockInfoObject.form
      +wb-form( blockInfoObject.form )
    if blockInfoObject.list
      +wb-unmarked-list( blockInfoObject.list )
    